extends layout-admin

block content

  ol.breadcrumb
    li.breadcrumb-item
      a(href="/") Home
    li.breadcrumb-item
      a(href="/admin/") Admin
    li.breadcrumb-item
      a(href="/admin/reports/") Reports
    li.breadcrumb-item.active
      | Subscribers

  h1 Subscribers

  p ToDo.


