extends layout-admin

block content

  ol.breadcrumb
    li.breadcrumb-item
      a(href="/") Home
    li.breadcrumb-item.active
      | Admin

  h1 Admin

  p.
    This admin section allows you to control various aspects of your donation portal.
    Click on any of the following sections to modify your site.

  h2 Content and Donations

  p
    a.btn.btn-secondary(href="/admin/donations") View Donations
    | 
    button.btn.btn-secondary(href="/admin/pages", disabled) View and Edit Pages (ToDo)

  h2 Settings

  p
    a.btn.btn-secondary(href="/admin/settings") Change Settings

  h2 About

  p.
    The <a href="https://donatinator.org/">Donatinator</a> is a small, simple, and secure way to accept online
    donations (single or monthly) for your charity or non-profit. It does not try to be a fully-fledged Content
    Management System, therefore there may be some things you wish to do but can't do here.

  p.
    Please refer to the <a href="https://donatinator.org/features">Features</a> page for more information about
    what we can do, but more importantly what we don't do and why.

  p.
    Many thanks.
