extends layout-admin

block content

  ol.breadcrumb
    li.breadcrumb-item
      a(href="/") Home
    li.breadcrumb-item
      a(href="/admin/") Admin
    li.breadcrumb-item.active
      | Reports

  h1 Reports

  p
    a.btn.btn-primary(href="/admin/report/subscribers") Subscribers


