extends layout-admin

block content

  h1 Admin

  p.
    This admin section allows you to control various aspects of your donation portal.
    Click on any of the following sections to modify your site.

  p
    a.btn.btn-secondary(href="/admin/pages") Edit Page Content (ToDo)
    |  
    a.btn.btn-secondary(href="/admin/settings") Change Settings
    |  
    a.btn.btn-secondary(href="/admin/donations") View Donations (ToDo)

  h3 About

  p.
    The <a href="https://donatinator.org/">Donatinator</a> is a small, simple, and secure way to accept online
    donations (single or monthly) for your charity or non-profit. It does not try to be a fully-fledged Content
    Management System, therefore there may be some things you wish to do but can't do here.

  p.
    Please refer to the <a href="https://donatinator.org/features">Features</a> page for more information about
    what we can do, but more importantly what we don't do and why.

  p.
    Many thanks.
