extends layout-admin

block content

  ol.breadcrumb
    li.breadcrumb-item
      a(href="/") Home
    li.breadcrumb-item.active
      | Admin

  h1 Admin

  p.
    This admin section allows you to control various aspects of your donation portal.
    Click on any of the following sections to modify your site.

  h2 Donations and Subscriptions

  p.

    You can view your latest donations and subscriptions here. These lists are pulled directly from Stripe as
    needed.

  p
    a.btn.btn-primary(href="/admin/donations") View Donations
    | 
    a.btn.btn-primary(href="/admin/subscriptions") View Subscriptions

  p Note: Donations are known inside Stripe as both 'Payments' or 'Charges'.

  h2 Gifts Options and Subscription Plans

  p.

    There are two types of donation, a 'gift' (single donation) and a 'plan' (recurring subscription). Both of these
    types are shown on the homepage. Each has a name, description, amount, and text to show on the user's credit card
    statement. Only plans have an interval.

  p
    a.btn.btn-primary(href="/admin/gifts") Edit Gift Options
    |
    |
    a.btn.btn-primary(href="/admin/plans") Edit Subscription Plans

  p Note: the currency setting is used for all new gift options and plans.

  h2 Content

  p
    a.btn.btn-primary(href="/admin/pages") Edit Pages

  h2 Reports

  p
    a.btn.btn-primary(href="/admin/reports") Reports
    |
    |
    a.btn.btn-primary(href="/admin/report/subscribers") Subscribers

  h2 Settings

  p
    a.btn.btn-primary(href="/admin/settings") Change Settings

  h2 About

  p.
    The <a href="https://donatinator.org/">Donatinator</a> is a small, simple, and secure way to accept online
    donations (single or recurring) for your charity or non-profit. It does not try to be a fully-fledged Content
    Management System, therefore there may be some things you wish to do but can't do here. Therefore you may wish to
    run this site under a sub-domain of your organisation, such as <code>secure.example.org</code> or
    <code>donate.example.org</code>.

  p.
    Please refer to the <a href="https://donatinator.org/features">Features</a> page for more information.

  p.
    Many thanks.
