extends layout-main

block content
  h2 Sorry
  p There was an error processing your donation.
  .alert.alert-danger= message
  p
    | Please
    |
    <a href="/">click here and try again</a>
    | .

  if error.status
    h3= error.status
  if error.stack
    pre #{error.stack}
