extends layout

block content

  .jumbotron
    h1.display-3= title
    p.lead
      | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.

  .row.marketing
    .col-lg-6
      h2 Monthly Donation
      p
        input(type="radio",name="single")
        em $10.00
        |  Ensures we can provide the right support throughout the year.
      p
        input(type="radio",name="single")
        em $25.00
        |  Enables us to invest in new projects.
      p
        input(type="radio",name="single")
        em $100.00
        |  Makes sure we can continue our work on an ongoing basis.
      p
        input(type="button", value="Donate")

    .col-lg-6
      h2 Single Donation
      p
        input(type="radio",name="single")
        em $10.00
        |  Provides one person water for a year.
      p
        input(type="radio",name="single")
        em $25.00
        |  Buys tools and equipment to help maintain current infrastructure.
      p
        input(type="radio",name="single")
        em $100.00
        |  Provides one day's labour to help build new water supplies and sewerage.
      p
        input(type="button", value="Donate")
