doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description", content="")
    meta(name="author", content="")
    link(rel="icon", href="/favicon.ico")
    title= settings.title || title
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css")
    link(rel="stylesheet", href="/s/css/styles.css")
  body
    .container
      .header.clearfix
        nav
          block menu
            ul.nav.nav-pills.float-right
              li.nav-item
                a.nav-link(class=(toptab==="index"?"active":""), href="/") Home
              li.nav-item
                a.nav-link(class=(toptab==="about"?"active":""), href="/about") About
              li.nav-item
                a.nav-link(class=(toptab==="contact"?"active":""), href="/contact") Contact
        h3.text-muted= title

      block content

      footer.footer
        p
          | Powered by The 
          a(href="https://donatinator.org", target="_blank") Donatinator
          | . Free software for anyone to use and help raise funds for themselves.

    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="/s/js/ie10.js")
    block scripts
